<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h1>{{title}}</h1>
    <p>A February 26, 2010 Microsoft whitepaper examined "the potential outcomes of a pilot implementation of Google Apps from the vantage point of a hypothetical company" called Contoso Ltd.</p>
    <p>We're actuaully not a real company.</p>
    <ul class="actions">
      <li><a href="/contact" class="button scrolly">Contact Us Anyways</a></li>
    </ul>
  </div>
</section>