<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h1>{{title}}</h1>
    <p>This is a simple Node.js website courtesy of Mike Pfeiffer from CloudSkills.io. Thanks, Mike!</p>
    <p>This is version 1.0.0 of this web application.</p>
    <ul class="actions">
      <li><a href="/who" class="button scrolly">Learn more</a></li>
    </ul>
  </div>
</section>
