@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="padding-bottom:30px;"><strong>Welcome to Movie App!</strong></h1>

<div class="card">
  <div class="card-body" style="font-size:20px;padding-left: 50px;padding-right:50px;">
<p>Movie App is the world's most popular and authoritative source for movie, TV and celebrity content, designed to help fans explore the world of movies and shows and decide what to watch.</p>

<p>Our searchable database includes millions of movies, TV and entertainment programs and cast and crew members. We help you jog your memory about a movie, show, or person on the tip of your tongue, find the best movie or show to watch next, and empower you to share your entertainment knowledge and opinions with the world’s largest community of fans.</p>

<p>For fans deciding what to watch and where to watch it, we offer local movie showtimes, ticketing, trailers, critic and user reviews, personalized recommendations, photo galleries, entertainment news, quotes, trivia, box-office data, editorial feature sections and a universal Watchlist. </p>

  </div>
</div>

</div>
